.btn.btn-primary{
  background-color: cadetblue;
  margin: 1px;
}
.d-flex.justify-content-center{
  text-align: center;
}
.message {
  color: crimson;
}

.container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}
