.btn.btn-primary{
  background-color: cadetblue;
  width: 300px;
  text-align: center;
}

.d-flex.justify-content-center{
  text-align: center;
}

.hobbiesList {
  height: 400px;
  background-color: #eee;
  overflow: scroll;
}
