.btn.btn-primary{
  background-color: cadetblue;
}
.messagesList {
  text-align: center;
  height: 400px;
  overflow: scroll;
}
.form-outline {
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}
.container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}
